
  
  .header {
    overflow: hidden;
    background-color: var(--primary-color);
    padding: 10px ;
  }

  .title{
    color: var(--white-color);
  }

  .header a {
    float: left;
    color: var(--white-color);
    text-align: center;
    padding:  5px 10px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    &.logo{
      font-size: 25px;
      font-weight: bold;
    }
    &.hover{
      background-color: #ddd;
    color: var(--black-color);
    }
    &.active{
      border-bottom:1px solid var(--white-color);

    }
  }
  
  // .header a.logo {
  //   font-size: 25px;
  //   font-weight: bold;
  // }
  
  // .header a:hover {
  //   background-color: #ddd;
  //   color: var(--black-color);
  // }
  
  // .header a.active {
  //   border-bottom:1px solid var(--white-color);
  // }
  
  .header-right {
    float: right;
  }
  