<div class="header">
  <a href="#default" class="logo">Admin Console</a>
  <div class="header-right">
    <a class="active" href="/home">Home</a>
    <!-- TODO: functionality not implemented -->
    <a href="/logout">logout</a>
  </div>
</div>
  
