/* You can add global styles to this file, and also import other style files */
.font-bold{
    font-weight: 600;
}

.display-none{
    display: none;
}

.display-block{
    display: block;
}

// theme
:root{
    --primary-color : #1C658C;
    --secondary-color: #398AB9;
    --white-color: #ffffff;
    --black-color: #000000;
    --bg-color: #EEEEEE;
}
