.app-container {
  max-height: 100%;
  overflow: auto;
  background-color: var(--bg-color);
}

.form-header {
  height: 54px;
  background-color: var(--primary-color);
}
.app-header {
  color: var(--primary-color);
  margin: 24px 10px;
  justify-content: space-between;
  display: flex;
}
.add-btn {
  padding: 8px 20px;
  background-color: var(--secondary-color);
  border: none;
  border: transparent solid 2px;
  color: var(--white-color);
  &:hover {
    border: var(--black-color) solid 2px;
  }
}

.task-list {
  margin: 0;
  padding: 0;
}
.task-list-item {
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
}

.item-title {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.5;
}

.item-description {
  color: var(--secondary-color);
  line-height: 1.2;
}
.price {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: 20px;
}

.icons {
  min-width: 10%;
  cursor: pointer;
}

.icon {
  padding: 0 10px;
  color: var(--primary-color);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay-container {
  background-color: var(--white-color);
  height: 100vw;
  width: 400px;
  position: relative;
}

.textbox {
  margin-top: 10px;
  width: 100%;
  height: 24px;
  border: solid 1px var(--secondary-color);
}

.label {
  color: var(--primary-color);
}

.btn {
  border: none;
  padding: 8px 20px;
  margin-right: 5px;
  color: var(--white-color);
  border-radius: 4px;
  border: transparent solid 2px;

  &_save {
    background-color: var(--primary-color);
  }
  &_cancel {
    background-color: var(--secondary-color);
  }
  &:hover {
    border: var(--black-color) solid 2px;
  }
}

.item-container {
  box-shadow: 0 2px 4px lightgray;
  margin: 20px 10px;
  padding: 20px;
  background-color: var(--white-color);
  display: flex;
}

.form-container {
  position: absolute;
  top: 5%;
  width: 90%;
}

.margin-10 {
  margin: 10px;
}

.button-group {
  margin-top: 40px;
  text-align: end;
}

.close-btn {
  margin: 15px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  text-align: right;
  position: absolute;
  right: 0;
  color: var(--white-color);

}

.form-title {
  font-weight: 600;
  position: absolute;
  margin-top: 15px;
  font-size: 20px;
  color: var(--white-color);
}

.error{
  color: red;
}