<div class="app-container" id="taskList">
    <h3 class="app-header">{{ title }}
        <button class="add-btn" (click)="isOverlayVisible = false">
            <span class="fa fa-plus"></span> Add Product
        </button>
    </h3>

    <div class="item-container" *ngFor="let product of productList">
        <div>
            <label>
                <span class="font-bold item-title">{{ product.name }}</span>
                <div class="item-description">{{ product.description}}</div>
            </label>
            <div class="price">
                <span class="font-bold"> Price: </span><span>{{ product.price }}</span>
            </div>
        </div>
        <div class="icons">
            <span (click)="editItem(product)" class="fas fa-edit icon ">{{
                product.del
                }}</span>
            <span (click)="delItem(product.id)" class="far fa-trash-alt icon" title="Delete product">
                {{ product.del }}
            </span>
        </div>

    </div>
</div>

<div class="overlay" [ngClass]="isOverlayVisible ? 'display-none' : 'display-block'">
    <div class="overlay-container">
        <div class="form-header">
            <span class="app-header" class="form-title">
                {{ isEdit ? 'Edit Product' : 'Add Product'}}</span>
            <button (click)="isOverlayVisible = true"
                class="close-btn">X</button>
        </div>
        <form [formGroup]="productForm" class="form-container" (ngSubmit)="onSubmit()" >
            <div class="margin-10">
                <label class="font-bold label" >Product Name: </label>
                <br />
                <input class="textbox" type="text" formControlName="name">
                <div class="error" *ngIf="productForm.controls['name'].invalid && productForm.controls['name'].touched && productForm.controls['name'].errors.required">
                    this field is required.
                </div>
            </div>
            <div class="margin-10">
                <label class="font-bold label" >Product Description: </label>
                <br />
                <input class="textbox" type="text" formControlName="description">
                <div class="error" *ngIf="productForm.controls['description'].invalid && (productForm.controls['description'].touched || productForm.controls['description'].dirty )">
                    this field is required.
                </div>
            </div>

            <div class="margin-10">
                <label class="font-bold label" >Price: </label>
                <br />
                <input class="textbox" type="text" formControlName="price">
                <div class="error" *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched && productForm.controls['price'].errors.required">
                    this field is required.
                </div>
            </div>

            <div class="button-group">
                <button type="button" (click)="productForm.reset();isOverlayVisible = true; " class="btn btn_cancel">Cancel</button>
                <button type="submit" class="btn btn_save">Save changes</button>
            </div>
        </form>
    </div>
</div>